


<h1>注文情報入力</h1>

<h3>支払方法</h3>

<!--enumを使用-->
<p>クレジットカード</p>
<p>銀行振込</p>

<h3>お届け先</h3>

<p>ご自身の住所</p>
<!--<p>デフォルトでセット</p>-->
<p>登録済み住所から選択</p>
<!--<p>プルダウンで選択</p>-->
<p>新しいお届け先</p>
<!--自動で登録？createで配送先と変数合わせる？-->
<p>郵便番号(ハイフンなし）</p>
<p>住所</p>
<p>宛名</p>

<%= link_to "確認画面へ進む" %>
