// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  width: 230px;
  height: 30px;
  text-align: center;
  background-color: #dcdcdc;
}

.Title {
  width: 500px;
  height: 30px;
  text-align: center;
  background-color: #dcdcdc;
}