// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  width: 230px;
  height: 30px;
  text-align: center;
  background-color: #dcdcdc;
  margin-bottom:20px;
}

























































































 //webdesign.gluttons.cloud/%E4%B8%8A%E4%B8%8B%E5%B7%A6%E5%8F%B3%E4%B8%AD%E5%A4%AE%E6%8F%83%E3%81%88/
.box{
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}